h1{
	color:yellow;
	background-color:gray;
	padding: 16px;
	margin: 20px;
	border: 10px blue solid;
	font-style: italic;
	text-align: center;
	text-decoration:underline;
}

h2{
	padding: 16px;
	margin: 20px;
	background-color: orange;
	border: 5px green solid;
	text-align: center;
	border: 5px solid;
}

.paragraf{
	background-color: darkgray;
	text-align: center;
}

.paragraf1{
	text-align: center;
}

.paragraf2{
	color: green;
	border: 1px solid;
	border-color: black;
	margin: 20px;
	width: 60%;
}

ul{
	border-style:solid;
	width: 40%;
	background-color: lightyellow;
}

ol{
	border-style:solid;
	width: 40%;	
	background-color:lightblue;
}

thead{
	color:green;
}

.bilgiler{
	color:indianred;
}

table, th {
  border: 1px solid;
  border-color: black;
  padding:20px ;

}










