* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header > * {
  flex-grow: 1;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
}

.links:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.5s;
  background-color: blueviolet;
}

a {
  text-decoration: none;
  color: black;
}

figure img {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
}

figure {
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 70px repeat(4, minmax(70px, auto)) 90px;
  grid-template-areas:
    "header header header header"
    "main main main aside1"
    "main main main aside1"
    "main main main aside1"
    "aside2 section section aside1"
    "footer footer footer footer";
}
h1,
h2 {
  padding: 10px;
}
.my-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 10px;
  grid-area: header;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  background: rgb(127, 157, 255);
  border-radius: 10px;
}

.my-navbar {
  background-color: aqua;
  border-radius: 10px;
}

.my-navbarUls {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my-main {
  grid-area: main;
  background: rgb(255, 127, 249);
  border-radius: 10px;
}
.my-aside1 {
  grid-area: aside1;
  background: brown;
  border-radius: 10px;
}

.my-aside2 {
  grid-area: aside2;
  background: brown;
  border-radius: 10px;
}

.my-section {
  grid-area: section;
  background: rgb(127, 255, 144);
  border-radius: 10px;
}

.my-footer {
  grid-area: footer;
  background: aquamarine;
  border-radius: 10px;
}

@media screen and (max-width: 720px) {
  body {
    background-image: url(manzara.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    grid-template-areas:
      "header header header header"
      "aside1 aside1 aside1 aside1"
      "main main main main"
      "section section section section"
      "footer footer footer footer";
  }

  .my-header {
    flex-direction: column;
  }

  .my-aside2 {
    display: none;
  }

  .my-aside1 {
    opacity: 0.4;
  }

  .my-main {
    opacity: 0.5;
  }

  figure {
    display: none;
  }
  .my-header h1 {
    text-align: center;
  }
}
